/* sty.css */

/* Sidebar */
[data-testid="stSidebar"] {
    background-color: black !important;
    color: white !important;
}
[data-testid="stHeader"] {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: rgb(9 9 9);
    outline: none;
    z-index: 999990;
    display: block;
}
/* Title */
[data-testid="stCustomTitle"] {
    color: white !important;
}

/* Paragraph */
[data-testid="stCustomPara"] {
    color: white !important;
}

/* Sidebar Buttons */
[data-testid="stSidebarButton"] {
    background-color: #333 !important; /* Change the color to your desired value */
    color: white !important;
}

/* Hover effect for Sidebar Buttons */
[data-testid="stSidebarButton"]:hover {
    background-color: #555 !important; /* Change the hover color to your desired value */
}




body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("mainb.jpg");
    position: relative;
    overflow: hidden;
    background-size: cover;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }